@import 'mixins';

@mixin default_link {
	color: #1271B5;
	@include tdn;
	&:hover {
		@include tdu;
	}
}

@mixin white_link {
	color: #DDD;
	@include tdn;
	&:hover {
		color: #FFF
	}
}

@mixin black_button {
	background-color: #444444;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	@include p(3px 7px);
	@include gradient(#444444, #222222);
	border-color: #222222 #222222 #002A80;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	@include cp;
	@include rad(4px);
	color: #FFF;
	&:hover {
		@include gradient(#333333, #111111);
	}
	&:active {
		@include gradient(#333333, #111111);
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2) inset, 0 -1px 2px rgba(255, 255, 255, 0.05);

	}
}


// usage of buttons_links
a {
	@include default_link;
	&:focus {
		outline-style: none;
	}
}

.white_link {
	@include white_link;
}

.black_button {
	@include black_button;
}